<!-- Paging for Buisness Hours  -->
<section id="content2">

  <table>
    <thead>
      <tr>
	<th>Service Now Group</th>
	<th>ID</th>
	<th>AMCOM Group</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
	<td colspan="3">{{ page.support_date }}</td>
      </tr>
    </tfoot>
    <tbody>
      {% for bizsupport in page.bh_support %}
      <tr>
        <td>{{ bizsupport.snow_group }}</td>
        <td>{{ bizsupport.id }}</td>
        <td>{{ bizsupport.amcom }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
<!-- End of Paging for Buisness Hours -->
